<h1>List of Songs</h1>

<% @songs.each do |song| %>
    <!-- Used an instance method in Models Folder `Class Song` -->
    <h3><%= link_to "#{song.artist_name} - #{song.title}", song_path(song) %></h3>
<% end %>